.main-page__wrapper {
  text-align: left;
  .container {
    transition: all .5s ease;
  }
}

.main-page__title{
  cursor: pointer;
}

.main-page__offer {
  width: 100%;
  p {
    min-height: 100px;
  }
  svg {
    margin-bottom: -20px;
    margin-left: 10px;
    font-size: 64px;
    transition: all .5s ease;
    position: fixed;
    opacity: 0;
  }
}

//@media screen and (max-width: 375px) {
//  .main-page__offer {
//
//  }
//}