.message__wrapper {
  opacity: 0;
  .floating-name {
    //font-size: 32px;
    padding: 5px 15px;
    &__wrapper {
      font-size: 72px;
      display: flex;
      justify-content: center;
      line-height: 75vh;
      padding-top: 63px;
      transition: all 1s ease;
    }
  }
}

.read-message {
  opacity: 100;
  text-align: center;
  .revert-block {
    transition: all .5s ease;
    opacity: 0;
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 100px;;
  }
  .nav-arrow__wrapper {
    position: static;
  }
  &__text {
    opacity: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease;
    h4 {
      margin-top: 20px;
      font-size: 24px;
    }
    p {
      width: 45vw;
      overflow-wrap: break-word;
    }
  }
}
